body{
    font-family: Arial;
}

#heading{
    text-align: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#todoInput, #todoDate{
    font-size: 16px;
    padding: 10px 5px;
}

.addButton{
    background-color: rgb(75, 143, 6);
    border: none;
    padding: 10px 0px;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;


}

.js-dltButton{
    background-color: rgb(123, 16, 4);
    border: none;
    padding: 10px 0px;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}