body{
    text-align: center;
}

.buttons{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(95, 141, 62);
    border-radius: 50px;
    cursor: pointer;
}

.images{
    height: 80px;
    
}